@import '../../styles/variables';

%reactionSvg {
  width: 15px;
  height: 16px;
  margin: auto 0;
  cursor: pointer;
}

.commentWrapper {
  display: flex;
  margin-bottom: 16px;

  > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 4px 12px 0 8px;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
  }

  .comment {
    flex: 0 1 100%;
    margin-right: 8px;

    .commentReactions {
      display: flex;
      align-items: center;

      button {
        .likeSvg {
          svg {
            @extend %reactionSvg;
            stroke: #000;
            fill: none;
          }
        }

        .likeSvgActive {
          svg {
            @extend %reactionSvg;
            stroke: #77a85b;
            fill: #77a85b;
          }
        }

        .dislikeSvg {
          svg {
            @extend %reactionSvg;
            stroke: #000;
            fill: none;
            transform: rotate(180deg);
          }
        }

        .dislikeSvgActive {
          svg {
            @extend %reactionSvg;
            stroke: #e35050;
            fill: #e35050;
            transform: rotate(180deg);
          }
        }
      }

      button:hover {
        border: none;
        background-color: transparent;
      }

      button:disabled svg {
        cursor: default;
        stroke: #adadad;
        fill: none;
      }

      button:last-child {
        color: #b4b4b4;
        font-size: 11px;
        letter-spacing: 1px;
        background-color: transparent;
        float: right;
        padding: 5px 10px;
        border: none;
        outline: none;
      }

      button:last-child:hover {
        color: #000;
      }

      p {
        font-size: 13px;
        margin: auto 16px;
        color: #000;
      }
    }

    input {
      font-size: 1rem;
    }
  }
}

.answers {
  margin: 8px 0;
  color: #5d5d5d;
  font-size: 14px;
  letter-spacing: 1px;
  width: max-content;
  cursor: pointer;

  img {
    margin-right: 8px;
    padding-bottom: 4px;
  }
}

.commentBody {
  margin-bottom: 5px;
  overflow-wrap: anywhere;

  input {
    width: 100%;
    color: #000;
    background-color: $gray;
    outline: none;
    border: none;
    border-bottom: solid 1px rgb(179, 179, 179);
    padding: 0;
    margin: 0 auto 5px auto;
  }

  input:focus {
    border-bottom: solid 1px #000;
  }

  button {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: rgb(47, 47, 47);
    float: right;
    padding: 5px 10px;
    border-radius: 4px;
  }

  button:disabled {
    color: rgb(113, 113, 113);
    background-color: rgb(240, 240, 240);
  }
  button:hover:enabled {
    background-color: rgb(63, 63, 63);
  }

  button:active:enabled {
    background-color: rgb(100, 100, 100);
  }

  button:last-of-type {
    margin-top: 2px;
    margin-right: 10px;
    color: #b4b4b4;
    font-size: 11px;
    letter-spacing: 1px;
    background-color: transparent;
    float: right;
    padding: 5px 10px;
    border: none;
    outline: none;
  }

  button:last-of-type:hover {
    color: #000;
    background-color: transparent;
  }

  button:last-of-type:active {
    background-color: transparent;
  }
}

.infoBlock {
  display: flex;
  justify-content: space-between;

  .authorBlock {
    display: flex;

    p {
      margin: 0 16px 2px 0;

      span {
        cursor: default;
        margin-left: 6px;
        font-size: 14px;
        color: #4683d9;
      }
    }
  }

  .dropdownWrapper {
    position: relative;

    > img {
      cursor: pointer;
      padding: 0 15px;
      visibility: hidden;
    }

    .commentDropdown {
      background-color: #fff;
      position: absolute;
      z-index: 2;
      width: 150px;
      top: 0;
      right: 35px;
      margin: 0;
      padding: 0;
      box-shadow: 0 3px 5px 0 rgb(116 116 116 / 25%);
      color: #000;

      li {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 8px 0px 8px 25px;
        font-size: 14px;
        margin: 3px 0;

        img {
          width: 16px;
          height: 16px;
          margin-right: 10px;
        }
      }

      li:hover {
        background-color: #f1f1f1;
      }
    }
  }
}

.answerWrapper {
  display: flex;
  margin-top: 2px;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 4px 8px 0 8px;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
  }

  .answerInputBlock {
    flex: 0 1 100%;

    textarea {
      width: 100%;
      color: #000;
      resize: none;
      border: none;
      border-bottom: solid 1px rgb(179, 179, 179);
      outline: none;
    }

    textarea::placeholder {
      color: #bababa;
    }

    textarea:focus {
      border-bottom: solid 1px #000;
    }

    button {
      color: #fff;
      font-size: 12px;
      letter-spacing: 1px;
      background-color: rgb(47, 47, 47);
      float: right;
      padding: 5px 10px;
      border-radius: 4px;
    }

    button:disabled {
      color: rgb(113, 113, 113);
      background-color: rgb(240, 240, 240);
    }
    button:hover:enabled {
      background-color: rgb(63, 63, 63);
    }

    button:active:enabled {
      background-color: rgb(100, 100, 100);
    }

    button:last-of-type {
      margin-top: 2px;
      margin-right: 10px;
      color: #b4b4b4;
      font-size: 11px;
      letter-spacing: 1px;
      background-color: transparent;
      float: right;
      padding: 5px 10px;
      border: none;
      outline: none;
    }

    button:last-of-type:hover {
      color: #000;
      background-color: transparent;
    }

    button:last-of-type:active {
      background-color: transparent;
    }
  }
}

.commentWrapper:last-child {
  margin-bottom: 0;
}

.commentWrapper:hover .comment .infoBlock .dropdownWrapper img {
  visibility: visible;
}
