@import '../../styles/variables';

.tabs {
  max-width: 700px;
  margin: 0 auto 20px auto;

  button {
    color: #a8a8a8;
    width: 100px;
    padding: 10px 0;
    margin-right: 10px;
    font-size: 14px;
  }

  .buttonActive {
    color: #4683d9;
    width: 100px;
    padding: 10px 0;
    margin-right: 10px;
    font-size: 14px;
    border-bottom: 2px solid #4683d9;
  }
}
