@import '../../styles/variables';

%auth-button {
  font-size: 12px;
  float: right;
  padding: 5px 10px;
  border-radius: 4px;
}

.signup {
  @extend %auth-button;
  color: $light;
  border: solid 1px #4683d9;
  background-color: #4683d9;
}
.signup:hover {
  border-color: #437dce;
  background-color: #437dce;
}

.signup:active {
  border-color: #3c6fb7;
  background-color: #3c6fb7;
}

.login {
  @extend %auth-button;
  border: solid 1px #000;
  background-color: transparent;
  margin-right: 10px;
}

.login:hover {
  color: #437dce;
  border-color: #437dce;
}
.login:active {
  background-color: rgb(180, 210, 251);
}
